form{
  background-color: white;
  padding: 30px 50px;
  display: grid;
  gap: 30px;
  border-radius: 10px;
  font-family: "Poppins",Arial, Helvetica, sans-serif;
}
form label{
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
form input{
  padding: 12px;
  width: 90%;
  border-radius: 8px;
  font-size: 1rem; 
  font-weight: 600;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  color: var(--dark-azul);
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  
}
form input:focus{
  border-color:var(--rosa);
  box-shadow: 0px 0px 0px 1px hsl(0, 100%, 79%);
}

.botao{
  color: var(--dark-azul);
  background-color: var(--verde);
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 2px var(--cinza-azul);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  
}
.botao:hover{
  background-color: hsl(154, 82%, 39%);
}
@media (max-width: 600px) {
  .botao{
    font-size: 1rem;
  }
  
}