/*IMPORTS CSS ->*/
@import "global.css";
@import "main.css";
@import "formulario.css";


/*TABELA DE CORES ->*/
:root{
  --rosa: hsl(0, 100%, 74%);
  --verde: hsl(154, 59%, 51%);
  --roxo: hsl(248, 32%, 49%);
  --dark-azul: hsl(249, 10%, 26%);
  --cinza-azul: hsl(246, 25%, 77%);
}

/*TIPOGRAFIAS*/
/*
font-family: "Poppins" e "Roboto" 
font-weight: 400,500,600 e 700
*/
