.lojas-locais{
  
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(180deg, var(--w) , var(--c5));
}
.locais{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.locais img{
  border: 1px solid var(--c5);
  grid-column: span 2;
}
.locais div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
}
.locais h2{
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: span 2;
}
.locais-dados{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
  padding-left: 32px;
  margin-bottom: 20px;
  grid-column: span 2;
}
.horario{
  padding-left: 20px;
  background: url(../../img/icones/horario.svg) no-repeat -1px 1px;
  grid-column: span 2;
}

@media (max-width: 800px) {
  .locais{
    grid-template-columns: 1fr;
    gap: 50px 0;
  }
  .locais h2{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: span 2;
    grid-row: 1;
  }
  .locais-dados{
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}