.titulo{
  text-transform: uppercase;

}
.titulo-1{
  margin-bottom: 10px;
  text-transform: uppercase;
}

.bicicletas-bg{
  background-color: var(--c11);
  box-shadow: inset 40vw 0px var(--w);
}
.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: 40px ;
  padding-bottom: 40px;
  align-items: center;
  margin-bottom: 20px; 
}
.bicicletas-imagem {
  display: grid;

}
.bicicletas-imagem img{
  grid-area: 1/1;
}
.bicicletas-imagem span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background-color: var(--c12);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px 0 0 4px;
}
.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: start;
}
.bicicletas-conteudo h3{
  grid-column: 1/-1;
}
.bicicletas-conteudo h3::before{
  content: "";
  width: 20px;
  height: 8px;
  display: block;
  margin-bottom: 10px;
  background-color: var(--p1);
}



.bicicletas-conteudo p{
  grid-column: 1/-1;
}
.bicicletas-conteudo ul{
  display: grid;
  gap: 10px;
  margin-top: 20px;
}
.bicicletas-conteudo ul li{
  display:flex;
  gap: 10px;
  align-items: center;
}
.bicicletas-conteudo ul img{
  width: 25px;
}
.bicicletas-conteudo a{
  place-self: end;

}



@media (max-width: 800px) {
  .bicicletas-bg{
    box-shadow: inset 0 100px var(--w);
  }
  .bicicletas{
    grid-template-columns: 1fr;
  }
  .bicicletas-conteudo h3::before{
    grid-template-columns: 1fr;
    align-content: start;
    margin-top: 20px;
    margin-bottom: 0;
  
  }
  .bicicletas-conteudo ul{
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    font-size: 1rem;
    gap: 20px;
  }
  .bicicletas-conteudo a{
    place-self: start;
  }
}