.depoimento{
  background-color: var(--p1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; /*<- conteudo é cortado e nenhuma barra de rolagem é exibida*/
}
.depoimento div img{
  border-radius: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.depoimento-text {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right 40px;

}
.depoimento-text p{
  max-width: 32ch;
  font-family: sans-serif;
  font-style: italic;
  margin-bottom: 32px;
  position: relative;
}
.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}
.depoimento p::before, .depoimento p::after {
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}