.bicicletas-lista{
  padding-top: 80px;
  padding-bottom: 120px;

}
.bicicletas-lista h2{
  text-transform: uppercase;
  margin-bottom: 50px;
}
.bicicletas-lista a{
  display: block;
}
.bicicletas-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;/* <- Criação de scrool*/
}
.bicicletas-lista h3{
  margin: 10px 0;
 align-items: center;
 display: flex;
 
}
.bicicletas-lista li{ /*<- Deve se colocar para criação do scrool*/
  flex: 1;
  min-width: 250px;
}

.bicicletas-lista a:hover h3::before{
  width: 24px;

}
.bicicletas-lista h3::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--p1);
  transition: width 0.2s;
  
}




@media (max-width: 800px) {
  .bicicletas-lista ul{
    gap: 20px;
  }
}